page-login {
    ion-item
    {
        background-color: #E1E4ED !important;
            margin-top: 20px !important;
    }
    .myview {
        background-color: transparent;
            background-image: url(../assets/imgs/supinfo.jpg);
            width: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center center;
    }
}
